.body {
  background-color: var(--primary-color);
  margin: -10px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center, baseline;
  padding: 3rem;
  min-height: 100vh;
}

.links {
  color: var(--font-color);
  font-family: var(--font);
  text-decoration: none;
  font-size: 25px;
}

.links:hover {
    transition: 350ms ease-in-out;
    transform: scale(1.009);
    color: var(--secondary-color);
}



